<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    const arr = [
        new Dog("金毛", "黄色"),
        new Dog("二哈", "黑白相间"),
        new Dog("土狗", "万色")];

    function Dog(name, color) {
        this.name = name;
        this.color = color;
    }
    // arr.forEach()
     // arr.forEach((a,i,r) => console.log(a+";"+i+";"+r));
    // console.log(arr.join(""));
    // console.log(arr.map(val => val.color).join("*****"));
    // function map(val){
    //     return val.name
    // }
    // val =>  val.name
    // for(var dog of arr){
    //     console.log(dog);
    // }
    console.log("数组展示：");
    console.log(arr);

    /*
    function name() {

    }
    () => {}
    function name(name) {

    }
    name => {}
    function name(name) {
        return name;
    }
    name => name
    function name(name1,name2) {

    }
    (name1,name2) => {}*/
</script>
</body>
</html>